/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

/* Define custom variables */
:root {
  --primary-color: #023047;
  --secondary-color: #FB8500;
  --accent1-color: #023047;
  --accent2-color: #FFB703;
  --headline-color: #c48c2b;
  --paragraph-color: #648dab;
  --paragraph-background-color: #1f4a69;
  --nav-link-color: #396E94;
  --nav-background-color: #D4AC0D;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #396E94;
  --heading-font: "Moolie", sans-serif;
  --paragraph-font: "Croissant+one", sans-serif;
}

/* Global styles */
body {
  max-width: 960px;
  margin: 0 auto;
  padding: 4em;
  font-size: 18px;
  text-align: center;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color);
}

p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color);
  padding: 1em;
}

/* Header styles */
header {
  padding: 1em;
  text-align: center;
  color: var(--headline-color);
  background-color: var(--paragraph-background-color);
}

/* Navigation styles */
nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav li {
  padding: 10px;
}

nav a:link, nav a:visited {
  color: var(--nav-link-color);
  text-decoration: none;
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}
