@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

body {
  --paragraph-font: "Croissant+one", sans-serif;
  font-family: 'corrisant+one', sans-serif;
  font-size: 22px;
  background-color: #FFB703; /* Slightly darker Accent2 color */
}

#content {
  max-width: 1600px;
  margin: 0 auto;
}

#background {
  height: 725px;
  background-color: #FFB703; /* Slightly darker Accent2 color */
}

nav a {
  text-align: center;
  padding: 35px;
  color: #1B7499; /* Slightly darker Primary color (nav-link-color) */
  text-decoration: none;
}

nav a:hover {
  background-color: #876700; /* Slightly darker Accent2 color */
  color: #B8A547; /* Slightly lighter Nav hover link color */
}

#hero-msg h1,
#hero-msg h4 {
  text-align: center;
  color: white; /* Headline color on color */
}

.button-box {
  text-align: center;
}

main section {
  text-align: center;
}

header {
  background-color: #E18300; /* Slightly darker Secondary color */
}

.book, .join {
  background-color: #E18300; /* Slightly darker Secondary color */
  padding: 15px 30px;
  border-radius: 5px;
  color: #fcfbfb;
  text-decoration: none;
  margin-top: 50px;
}

.book:hover, .join:hover {
  color: #fcfbfb;
}

.msg {
  background-color: #AB7B2D; /* Slightly darker Headline color on white */
  padding: 35px;
}

.msg h2 {
  background-color: #E18300; /* Slightly darker Secondary color */
  color: black;
  line-height: 1.5em;
  margin: 0;
}

.msg p {
  background-color: #E18300; /* Slightly darker Secondary color */
  color: #1A2630; /* Slightly darker Paragraph color on color */
  line-height: 1.5em;
  padding-bottom: 15px;
}

.home-title {
  color: white; /* Headline color on color */
  font-family: 'Moolie', sans-serif;
  font-size: 2em;
  margin-top: 10px;
}

h4 {
  color: white; /* Headline color on color */
}

footer {
  background-color: #E18300; /* Slightly darker Secondary color */
  color: #1A2630; /* Slightly darker Paragraph color on color */
  padding: 25px 50px;
  margin-top: 200px;
}

footer a {
  background-color: #e7a94c; /* Slightly darker Accent1 color */
  text-align: center;
  color: #1A2630; /* Slightly darker Paragraph color on color */
  text-decoration: none;
}

footer a:hover {
  background-color: #FFB703; /* Slightly darker Accent2 color */
  color: #A76C1E; /* Slightly darker Headline color on white */
}

.icon {
  width: 80px;
  padding-top: 10px;
}

footer p {
  font-size: 1.2em;
  color: #fcfcfc;
}

.logo {
  width: 80px;
}

a {
  text-decoration: none;
}

#logo link {
  padding-top: 5px;
}

footer .social img {
  padding-top: 15px;
}

.rivers-card, .camping-card, .rapids-card {
  margin: 200px 0;
}

.card-img {
  border-radius: 10px;
}

main section img {
  box-sizing: border-box;
}
